<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Spring-Tiles</display-name>

	<servlet>
		<servlet-name>tiles</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/application-contex.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>tiles</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>












<!-- OLD PROJECT XML
 <!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>first App</display-name> -->

<!-- 	<filter>
		<filter-name>
			DurationFilter</filter-name>
		<filter-class>amg.start.filters.DurationFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>
			DurationFilter
		</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->



<!-- 	<servlet>
		<servlet-name>FirstServlet</servlet-name>
		<servlet-class>amg.start.servlets.FirstServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>studentList</servlet-name>
		<servlet-class>amg.start.servlets.StudentListServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>studentEdit</servlet-name>
		<servlet-class>amg.start.servlets.StudentEditServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>studentAdd</servlet-name>
		<servlet-class>amg.start.servlets.StudentAddServlet</servlet-class>
	</servlet>
	
		<servlet>
		<servlet-name>studentDelete</servlet-name>
		<servlet-class>amg.start.servlets.StudentDeleteServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>studentList</servlet-name>
		<url-pattern>/students</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>studentEdit</servlet-name>
		<url-pattern>/student/edit</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>studentAdd</servlet-name>
		<url-pattern>/student/add</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>studentDelete</servlet-name>
		<url-pattern>/student/delete</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>
			FirstServlet
		</servlet-name>
		<url-pattern>
			/HelloServlet</url-pattern>
	</servlet-mapping>
	
</web-app>	
	
 -->



